<table style="width:100%; background-color: #D9EDF7">
  <tr>
    <td style="border: 1px solid #CFCFCF">
      <b>Weather data: Main notebook</b>
      <ul>
        <li><a href="main.ipynb">Main Notebook</a></li>
        <li>Downloading Notebook</li>
        <li><a href="documentation.ipynb">Documentation</a></li>
      </ul>
      <br>This Notebook is part of the <a href="http://data.open-power-system-data.org/weather_data">Weather data Datapackage</a> of <a href="http://open-power-system-data.org">Open Power System Data</a>.
    </td>
  </tr>
</table>

# Table of Contents
* [1. Introductory Notes](#1.-Introductory-Notes)
	* [1.1 State of the script:](#1.1-State-of-the-script:)
	* [1.2 How to use the script:](#1.2-How-to-use-the-script:)
* [2. Script Setup](#2.-Script-Setup)
* [3. Download raw data](#3.-Download-raw-data)
	* [3.1 Input](#3.1-Input)
		* [3.1.1 Parameter selection](#3.1.1-Parameter-selection)
		* [3.1.2 Timeframe](#3.1.2-Timeframe)
		* [3.1.3 Geography coordinates](#3.1.3-Geography-coordinates)
	* [3.2 Subsetting data](#3.2-Subsetting-data)
* [4. Downloading data](#4.-Downloading-data)
	* [4.1 Get wind data](#4.1-Get-wind-data)
	* [4.2 Get roughness](#4.2-Get-roughness)
	* [4.3 Get radiation data](#4.3-Get-radiation-data)
	* [4.4 Get lat and lon dimensions](#4.4-Get-lat-and-lon-dimensions)
	* [4.5 Check the precision of the downloaded data](#4.5-Check-the-precision-of-the-downloaded-data)
* [5. Setting up DataFrame](#5.-Setting-up-DataFrame)
	* [5.1 Converting the timeformat to ISO 8601](#5.1-Converting-the-timeformat-to-ISO-8601)
* [6. Setting up Roughness and Radiation dataframe](#6.-Setting-up-Roughness-and-Radiation-dataframe)
	* [6.1 Combining the wind, roughness and radiation dataframe](#6.1-Combining-the-wind,-roughness-and-radiation-dataframe)
* [7. Structure the dataframe, add and remove columns](#7.-Structure-the-dataframe,-add-and-remove-columns)
	* [7.1 Calculating the height with displacement height](#7.1-Calculating-the-height-with-displacement-height)
	* [7.2 Adding needed and removing not needed columns](#7.2-Adding-needed-and-removing-not-needed-columns)
	* [7.3 Renaming columns](#7.3-Renaming-columns)
	* [7.4 First look at the final data frame structure and format](#7.4-First-look-at-the-final-data-frame-structure-and-format)
	* [7.5 Saving dataframe](#7.5-Saving-dataframe)
* [8. Direkt and Diffuse Radiation](#8.-Direkt-and-Diffuse-Radiation)
	* [8.1 Solar Altitude Angle alpha](#8.1-Solar-Altitude-Angle-alpha)
		* [8.1.1 Setting up functions](#8.1.1-Setting-up-functions)
		* [8.1.2 Calculation](#8.1.2-Calculation)
	* [8.2 Clearness Index k](#8.2-Clearness-Index-k)
		* [8.2.1 Setting up Function](#8.2.1-Setting-up-Function)
		* [8.2.2 Calculating](#8.2.2-Calculating)
	* [8.3 Indirect Radiation](#8.3-Indirect-Radiation)
		* [8.3.1 Setting up Function](#8.3.1-Setting-up-Function)
		* [8.3.2 Calculating](#8.3.2-Calculating)
* [9. Create metadata](#9.-Create-metadata)

# 1. Introductory Notes

This script contains code that allows the download, subset and processing of [MERRA-2](http://gmao.gsfc.nasa.gov/reanalysis/MERRA-2/) datasets (provided by NASA Goddard Space Flight Center) and export them as CSV.

**Weather data differ significantly from the other data types used resp. provided by OPSD** in that the sheer size of the data packages greatly exceeds OPSD's capacity to host them in a similar way as feed-in timeseries, power plant data etc. While the other data packages also offer a complete one-klick download of the bundled data packages with all relevant data this is impossible for weather datasets like MERRA-2 due to their size (variety of variables, very long timespan, huge geographical coverage etc.). It would make no sense to mirror the data from the NASA servers.

Instead we choose to provide only a **documented methodological script**. The  method describes one way to automatically obtain the desired weather data from the MERRA-2 database and simplifies resp. unifies alternative manual data obtaining methods in a single script.

**More detailed background information** on weather data can be found in the <a href="main.ipynb">Main notebook</a> and the [OPSD Wiki](https://github.com/Open-Power-System-Data/common/wiki/Information-on-weather-data) on Github.

## 1.1 State of the script:

The script is still in development. It is currently working. The next step will be adding support for more datasets and more weather variables.

## 1.2 How to use the script:

To download MERRA-2 data, you have to register at NASA earth data portal
1. Register an account at [https://urs.earthdata.nasa.gov/](https://urs.earthdata.nasa.gov/)
2. Go to my applications and add NASA GESDISC DATA ARCHIVE
3. Input your username and password when requested by the script

---

# 2. Script Setup

In [1]:
import pandas as pd
import xarray as xr
import numpy as np
import requests
import logging
import yaml
import json
import os
from datetime import datetime
from calendar import monthrange
from opendap_download.multi_processing_download import DownloadManager
import math
from functools import partial
import re
import getpass
from datetime import datetime, timedelta
import dateutil.parser

# Set up a log
logging.basicConfig(level=logging.INFO)
log = logging.getLogger('notebook')

---

# 3. Download raw data

## 3.1 Input

This part defines the input parameters according to the user and creates an URL that can download the desired MERRA-2 data via the OPeNDAP interface ([more information)](https://github.com/Open-Power-System-Data/common/wiki/Information-on-weather-data#4-what-is-opendap).

### 3.1.1 Parameter selection

These are the possible parameters (i.e. weather data)
* wind
* solar radiation
* temperature

If you want to select more than one parameter, separate them with commas. For example: `wind, solar radiation, temperature`

In [2]:
# Getting user input
# This version only supports wind so far. This line does not do anything at 
# this point.
possible_params = ['wind', 'solar radiation', 'temperature']

### 3.1.2 Timeframe

Definition of desired timespan the data is needed for. (currently only full years possible)

In [3]:
# User input of timespan
download_year = 2014
# Create the start date 2014-01-01
download_start_date = str(download_year) + '-01-01'

### 3.1.3 Geography coordinates

Definition of desired coordinates. The user has to input two corner coordinates of a rectangular area (Format WGS84, decimal system).
* Northeast coordinate: lat_1, lon_1
* Southwest coordinate: lat_2, lon_2

The area/coordinates will be converted from lat/lon to the MERRA-2 grid coordinates.
Since the resolution of the MERRA-2 grid is 0.5 x 0.625°, the given coordinates will 
matched as close as possible.

In [4]:
# User input of coordinates
# ------
# Example: Schleswig-Holstein (lat/lon)
# Northeastern point: 55,036823°N, 11,349297°E
# Southwestern point: 53,366266°N, 7,887088°E

# It is important to make the southwestern coordinate lat_1 and lon_1 since
# the MERRA-2 portal requires it!
# Northeastern coordinate 
lat_2, lon_2 = 55.036823, 11.349297
# Southwestern coordinate
lat_1, lon_1 = 53.366266, 7.887088



def translate_lat_to_geos5_native(latitude):
    """
    The source for this formula is in the MERRA2 
    Variable Details - File specifications for GEOS pdf file.
    The Grid in the documentation has points from 1 to 361 and 1 to 576.
    The MERRA-2 Portal uses 0 to 360 and 0 to 575.
    latitude: float Needs +/- instead of N/S
    """
    return ((latitude + 90) / 0.5)

def translate_lon_to_geos5_native(longitude):
    """See function above"""
    return ((longitude + 180) / 0.625)

def find_closest_coordinate(calc_coord, coord_array):
    """
    Since the resolution of the grid is 0.5 x 0.625, the 'real world'
    coordinates will not be matched 100% correctly. This function matches 
    the coordinates as close as possible. 
    """
    # np.argmin() finds the smallest value in an array and returns its
    # index. np.abs() returns the absolute value of each item of an array.
    # To summarize, the function finds the difference closest to 0 and returns 
    # its index. 
    index = np.abs(coord_array-calc_coord).argmin()
    return coord_array[index]

# The arrays contain the coordinates of the grid used by the API.
# The values are from 0 to 360 and 0 to 575
lat_coords = np.arange(0, 361, dtype=int)
lon_coords = np.arange(0, 576, dtype=int)

# Translate the coordinates that define your area to grid coordinates.
lat_coord_1 = translate_lat_to_geos5_native(lat_1)
lon_coord_1 = translate_lon_to_geos5_native(lon_1)
lat_coord_2 = translate_lat_to_geos5_native(lat_2)
lon_coord_2 = translate_lon_to_geos5_native(lon_2)


# Find the closest coordinate in the grid.
lat_co_1_closest = find_closest_coordinate(lat_coord_1, lat_coords)
lon_co_1_closest = find_closest_coordinate(lon_coord_1, lon_coords)
lat_co_2_closest = find_closest_coordinate(lat_coord_2, lat_coords)
lon_co_2_closest = find_closest_coordinate(lon_coord_2, lon_coords)

# Check the precision of the grid coordinates. These coordinates are not lat/lon. 
# They are coordinates on the MERRA-2 grid. 
log.info('Calculated coordinates for point 1: ' + str((lat_coord_1, lon_coord_1)))
log.info('Closest coordinates for point 1: ' + str((lat_co_1_closest, lon_co_1_closest)))
log.info('Calculated coordinates for point 2: ' + str((lat_coord_2, lon_coord_2)))
log.info('Closest coordinates for point 2: ' + str((lat_co_2_closest, lon_co_2_closest)))

INFO:notebook:Calculated coordinates for point 1: (286.732532, 300.61934080000003)
INFO:notebook:Closest coordinates for point 1: (287, 301)
INFO:notebook:Calculated coordinates for point 2: (290.073646, 306.1588752)
INFO:notebook:Closest coordinates for point 2: (290, 306)

## 3.2 Subsetting data

Combining parameter choices above/translation according to OPenDAP guidelines into URL-appendix

In [5]:
def translate_year_to_file_number(year):
    """
    The file names consist of a number and a meta data string. 
    The number changes over the years. 1980 until 1991 it is 100, 
    1992 until 2000 it is 200, 2001 until 2010 it is  300 
    and from 2011 until now it is 400.
    """
    file_number = ''
    
    if year >= 1980 and year < 1992:
        file_number = '100'
    elif year >= 1992 and year < 2001:
        file_number = '200'
    elif year >= 2001 and year < 2011:
        file_number = '300'
    elif year >= 2011:
        file_number = '400'
    else:
        raise Exception('The specified year is out of range.')
    
    return file_number
    


def generate_url_params(parameter, time_para, lat_para, lon_para):
    """Creates a string containing all the parameters in query form"""
    parameter = map(lambda x: x + time_para, parameter)
    parameter = map(lambda x: x + lat_para, parameter)
    parameter = map(lambda x: x + lon_para, parameter)
    
    return ','.join(parameter)
    
    

def generate_download_links(download_years, base_url, dataset_name, url_params):
    """
    Generates the links for the download. 
    download_years: The years you want to download as array. 
    dataset_name: The name of the data set. For example tavg1_2d_slv_Nx
    """
    urls = []
    for y in download_years: 
    # build the file_number
        y_str = str(y)
        file_num = translate_year_to_file_number(download_year)
        for m in range(1,13):
            # build the month string: for the month 1 - 9 it starts with a leading 0. 
            # zfill solves that problem
            m_str = str(m).zfill(2)
            # monthrange returns the first weekday and the number of days in a 
            # month. Also works for leap years.
            _, nr_of_days = monthrange(y, m)
            for d in range(1,nr_of_days+1):
                d_str = str(d).zfill(2)
                # Create the file name string
                file_name = 'MERRA2_{num}.{name}.{y}{m}{d}.nc4'.format(
                    num=file_num, name=dataset_name, 
                    y=y_str, m=m_str, d=d_str)
                # Create the query
                query = '{base}{y}/{m}/{name}.nc4?{params}'.format(
                    base=base_url, y=y_str, m=m_str, 
                    name=file_name, params=url_params)
                urls.append(query)
    return urls

requested_params = ['U2M', 'U10M', 'U50M', 'V2M', 'V10M', 'V50M', 'DISPH']
requested_time = '[0:1:23]'
# Creates a string that looks like [start:1:end]. start and end are the lat or
# lon coordinates define your area.
requested_lat = '[{lat_1}:1:{lat_2}]'.format(
                lat_1=lat_co_1_closest, lat_2=lat_co_2_closest)
requested_lon = '[{lon_1}:1:{lon_2}]'.format(
                lon_1=lon_co_1_closest, lon_2=lon_co_2_closest)



parameter = generate_url_params(requested_params, requested_time,
                                requested_lat, requested_lon)

BASE_URL = 'https://goldsmr4.sci.gsfc.nasa.gov/opendap/MERRA2/M2T1NXSLV.5.12.4/'
generated_URL = generate_download_links([download_year], BASE_URL, 
                                        'tavg1_2d_slv_Nx', 
                                        parameter)
            
# See what a query to the MERRA-2 portal looks like.        
log.info(generated_URL[0])

INFO:notebook:https://goldsmr4.sci.gsfc.nasa.gov/opendap/MERRA2/M2T1NXSLV.5.12.4/2014/01/MERRA2_400.tavg1_2d_slv_Nx.20140101.nc4.nc4?U2M[0:1:23][287:1:290][301:1:306],U10M[0:1:23][287:1:290][301:1:306],U50M[0:1:23][287:1:290][301:1:306],V2M[0:1:23][287:1:290][301:1:306],V10M[0:1:23][287:1:290][301:1:306],V50M[0:1:23][287:1:290][301:1:306],DISPH[0:1:23][287:1:290][301:1:306]

---

# 4. Downloading data

This part subsequently downloads the subsetted raw data from the MERRA-2-datasets. 
The download process is outsourced from the notebook, because it is a standard and repetitive process. If you are interested in the the code, see the [opendap_download module](opendap_download/)

## 4.1 Get wind data

from the dataset [tavg1_2d_slv_Nx (M2T1NXSLV)](http://goldsmr4.sci.gsfc.nasa.gov/opendap/MERRA2/M2T1NXSLV.5.12.4/contents.html)

In [6]:
# Download data (one file per day and dataset) with links to local directory.
# Username and password for MERRA-2 (NASA earthdata portal)
username = input('Username: ')
password = getpass.getpass('Password:')
# The DownloadManager is able to download files. If you have a fast internet 
# connection, setting this to 2 is enough. If you have slow wifi, try setting
# it to 4 or 5. If you download too fast, the data portal might ban you for a 
# day. 
NUMBER_OF_CONNECTIONS = 3

# The DownloadManager class is defined in the opendap_download module. 
download_manager = DownloadManager()
download_manager.set_username_and_password(username, password)
download_manager.download_path = 'download'
download_manager.download_urls = generated_URL
# If you want to see the download progress, check the download folder you 
# specified
%time download_manager.start_download(NUMBER_OF_CONNECTIONS)

Username: janurb
Password:········
Wall time: 12min 32s

## 4.2 Get roughness

from the dataset [tavg1_2d_flx_Nx (M2T1NXFLX)](http://goldsmr4.sci.gsfc.nasa.gov/opendap/MERRA2/M2T1NXFLX.5.12.4/contents.html)

In [8]:
# Roughness data is in a different data set. The parameter is called Z0M. 
roughness_para = generate_url_params(['Z0M'], requested_time, 
                                     requested_lat, requested_lon)
ROUGHNESS_BASE_URL = 'https://goldsmr4.sci.gsfc.nasa.gov/opendap/MERRA2/M2T1NXFLX.5.12.4/'
roughness_links = generate_download_links([download_year], ROUGHNESS_BASE_URL,
                                          'tavg1_2d_flx_Nx', roughness_para)
            
download_manager.download_path = 'roughness_download'
download_manager.download_urls = roughness_links

# If you want to see the download progress, check the download folder you 
# specified.
%time download_manager.start_download(NUMBER_OF_CONNECTIONS)

Wall time: 9min 23s

## 4.3 Get radiation data

In [17]:
# Surface (ground-level) incident shortwave flux (Global Horizontal Irradiance, GHI)
radiation_para = generate_url_params(['SWGDN', 'SWTDN'], requested_time, 
                                     requested_lat, requested_lon)
RADIATION_BASE_URL = 'https://goldsmr4.sci.gsfc.nasa.gov/opendap/MERRA2/M2T1NXRAD.5.12.4/'
radiation_links = generate_download_links([download_year], RADIATION_BASE_URL, 
                                         'tavg1_2d_rad_Nx', radiation_para)

download_manager.download_path = 'radiation_download'
download_manager.download_urls = radiation_links

%time download_manager.start_download(NUMBER_OF_CONNECTIONS)

https://goldsmr4.sci.gsfc.nasa.gov/opendap/MERRA2/M2T1NXRAD.5.12.4/2014/01/MERRA2_400.tavg1_2d_rad_Nx.20140101.nc4.nc4?SWGDN[0:1:23][287:1:290][301:1:306],SWTDN[0:1:23][287:1:290][301:1:306]
Wall time: 8min 28s

## 4.4 Get lat and lon dimensions

For now, the dataset only has MERRA-2 grid coordinates. To translate the points
back to "real world" coordinates, the data portal offers a dimension scale file.

In [39]:
# The dimensions map the MERRA2 grid coordinates to lat/lon. The coordinates 
# to request are 0:360 wheare as the other coordinates are 1:361
requested_lat_dim = '[{lat_1}:1:{lat_2}]'.format(
                    lat_1=lat_co_1_closest, lat_2=lat_co_2_closest)
requested_lon_dim = '[{lon_1}:1:{lon_2}]'.format(
                    lon_1=lon_co_1_closest , lon_2=lon_co_2_closest )

lat_lon_dimension_para = 'lat' + requested_lat_dim + ',lon' + requested_lon_dim
# Creating the download url.
dimension_url = 'https://goldsmr4.sci.gsfc.nasa.gov/opendap/MERRA2/M2T1NXSLV.5.12.4/2014/01/MERRA2_400.tavg1_2d_slv_Nx.20140101.nc4.nc4?'
dimension_url = dimension_url + lat_lon_dimension_para
download_manager.download_path = 'dimension_scale'
download_manager.download_urls = [dimension_url]
# Since the dimension is only one file, we only need one connection. 
%time download_manager.start_download(1)

Wall time: 5.71 s

## 4.5 Check the precision of the downloaded data

Due to the back and forth conversion from "real world" coordinates to MERRA-2 grid points,
this part helps you to check if the conversion was precise enough.

In [40]:
file_path = os.path.join('dimension_scale', DownloadManager.get_filename(
        dimension_url))

with xr.open_dataset(file_path) as ds_dim:
    df_dim = ds_dim.to_dataframe()

lat_array = ds_dim['lat'].data.tolist()
lon_array = ds_dim['lon'].data.tolist()

# The log output helps evaluating the precision of the received data.
log.info('Requested lat: ' + str((lat_1, lat_2)))
log.info('Received lat: ' + str(lat_array))
log.info('Requested lon: ' + str((lon_1, lon_2)))
log.info('Received lon: ' + str(lon_array))

INFO:notebook:Requested lat: (53.366266, 55.036823)
INFO:notebook:Received lat: [53.5, 54.0, 54.5, 55.0]
INFO:notebook:Requested lon: (7.887088, 11.349297)
INFO:notebook:Received lon: [8.125, 8.75, 9.375, 10.0, 10.625, 11.25]

---

# 5. Setting up DataFrame

This part sets up a DataFrame and reads the raw data into it.

In [20]:
def extract_date(data_set):
    """
    Extracts the date from the filename before merging the datasets. 
    """
    try:
        # The attribute name changed during the development of this script
        # from HDF5_Global.Filename to Filename. 
        if 'HDF5_GLOBAL.Filename' in data_set.attrs:
            f_name = data_set.attrs['HDF5_GLOBAL.Filename']
        elif 'Filename' in data_set.attrs:
            f_name = data_set.attrs['Filename']
        else: 
            raise AttributeError('The attribute name has changed again!')
        
        # find a match between "." and ".nc4" that does not have "." .
        exp = r'(?<=\.)[^\.]*(?=\.nc4)'
        res = re.search(exp, f_name).group(0)
        # Extract the date. 
        y, m, d = res[0:4], res[4:6], res[6:8]
        date_str = ('%s-%s-%s' % (y, m, d))
        data_set = data_set.assign(date=date_str)
        return data_set

    except KeyError:
        # The last dataset is the one all the other sets will be merged into. 
        # Therefore, no date can be extracted.
        return data_set
        

file_path = os.path.join('download', '*.nc4')

try:
    with xr.open_mfdataset(file_path, concat_dim='date',
                           preprocess=extract_date) as ds_wind:
        print(ds_wind)
        df_wind = ds_wind.to_dataframe()
        
except xr.MergeError as e:
    print(e)

<xarray.Dataset>
Dimensions:  (date: 365, lat: 4, lon: 6, time: 24)
Coordinates:
  * time     (time) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
  * lat      (lat) int64 0 1 2 3
  * lon      (lon) int64 0 1 2 3 4 5
  * date     (date) <U10 '2014-01-01' '2014-01-02' '2014-01-03' '2014-01-04' ...
Data variables:
    U50M     (date, time, lat, lon) float64 -0.2977 -1.107 -0.9065 -0.9663 ...
    U10M     (date, time, lat, lon) float64 -0.2956 -0.8594 -0.7637 -0.8558 ...
    U2M      (date, time, lat, lon) float64 -0.2122 -0.5927 -0.5206 -0.581 ...
    V2M      (date, time, lat, lon) float64 4.5 3.944 3.895 3.846 3.776 ...
    V10M     (date, time, lat, lon) float64 6.218 5.679 5.763 5.706 5.505 ...
    V50M     (date, time, lat, lon) float64 8.357 8.071 8.57 8.366 7.304 ...
    DISPH    (date, time, lat, lon) float64 0.2271 0.2632 0.2809 0.287 ...

In [21]:
df_wind.reset_index(inplace=True)

In [22]:
start_date = datetime.strptime(download_start_date, '%Y-%m-%d')

def calculate_datetime(d_frame):
    """
    Calculates the accumulated hour based on the date.
    """
    cur_date = datetime.strptime(d_frame['date'], '%Y-%m-%d')
    hour = int(d_frame['time'])
    delta = abs(cur_date - start_date).days
    date_time_value = (delta * 24) + (hour)
    return date_time_value


df_wind['date_time_hours'] = df_wind.apply(calculate_datetime, axis=1)
df_wind

,date,lat,lon,time,U50M,U10M,U2M,V2M,V10M,V50M,DISPH,date_time_hours
0,2014-01-01,0,0,0,-0.297702,-0.295578,-0.212174,4.500453,6.217660,8.356644,0.227051,0
1,2014-01-01,0,0,1,-0.074992,-0.324034,-0.233301,4.362281,6.044189,8.493224,0.226990,1
2,2014-01-01,0,0,2,-0.147352,-0.210656,-0.149592,4.222820,5.845773,8.089516,0.226990,2
3,2014-01-01,0,0,3,0.724986,0.409784,0.300013,4.340469,5.978075,7.984237,0.226929,3
4,2014-01-01,0,0,4,1.590336,1.075677,0.784653,4.385458,6.018238,7.851111,0.226868,4
5,2014-01-01,0,0,5,1.765592,1.251730,0.913635,4.333628,5.942356,7.688294,0.226807,5
6,2014-01-01,0,0,6,1.740824,1.201046,0.875475,4.242262,5.827761,7.600917,0.226746,6
7,2014-01-01,0,0,7,2.622788,1.846303,1.342994,4.243012,5.844603,7.675271,0.226685,7
8,2014-01-01,0,0,8,3.289029,2.207761,1.595478,4.195892,5.804287,7.821333,0.226685,8
9,2014-01-01,0,0,9,3.393492,2.374129,1.717855,4.396135,6.072703,8.006682,0.226624,9
10,2014-01-01,0,0,10,1.969003,1.491357,1.084781,4.608009,6.321997,7.867232,0.226562,10
11,2014-01-01,0,0,11,1.152898,0.792525,0.577078,4.528586,6.208613,7.670100,0.226501,11
12,2014-01-01,0,0,12,0.751909,0.471944,0.342939,4.386295,6.054287,7.754708,0.226440,12
13,2014-01-01,0,0,13,-0.385560,-0.346642,-0.245431,4.072318,5.694500,7.928659,0.226440,13
14,2014-01-01,0,0,14,-1.601448,-1.079924,-0.758276,3.916518,5.564619,8.582237,0.226379,14
15,2014-01-01,0,0,15,-2.964948,-2.002669,-1.412624,4.284524,6.077531,9.248868,0.226318,15
16,2014-01-01,0,0,16,-3.951974,-2.995735,-2.150176,4.756229,6.627870,8.992760,0.226257,16
17,2014-01-01,0,0,17,-4.451447,-3.567682,-2.578498,5.055721,6.999658,9.072774,0.226196,17
18,2014-01-01,0,0,18,-4.792336,-3.893667,-2.815137,5.231140,7.234971,9.315937,0.226196,18
19,2014-01-01,0,0,19,-5.329083,-4.379653,-3.170137,5.299993,7.320238,9.323335,0.226135,19
20,2014-01-01,0,0,20,-5.793111,-4.818533,-3.490549,5.236180,7.223099,9.114805,0.226074,20
21,2014-01-01,0,0,21,-5.933545,-4.932539,-3.569890,5.298791,7.312883,9.252745,0.226013,21
22,2014-01-01,0,0,22,-5.698965,-4.789988,-3.466293,5.584574,7.707000,9.696321,0.225952,22
23,2014-01-01,0,0,23,-5.536570,-4.719015,-3.416071,5.778727,7.976044,9.986411,0.225891,23
24,2014-01-01,0,1,0,-1.106906,-0.859421,-0.592728,3.943812,5.678597,8.071487,0.263184,0
25,2014-01-01,0,1,1,-0.851451,-0.726088,-0.501429,3.838844,5.524658,7.901428,0.263184,1
26,2014-01-01,0,1,2,-1.051405,-0.827661,-0.569453,3.590984,5.166086,7.325844,0.263062,2
27,2014-01-01,0,1,3,-0.423329,-0.393461,-0.269567,3.622696,5.210497,7.367049,0.263062,3
28,2014-01-01,0,1,4,0.646977,0.350336,0.244126,3.658895,5.258472,7.421423,0.262939,4
29,2014-01-01,0,1,5,1.181119,0.743673,0.519348,3.739878,5.358372,7.416810,0.262939,5
...,...,...,...,...,...,...,...,...,...,...,...,...
210210,2014-12-31,3,4,18,8.253298,6.661917,5.296682,1.700161,2.142776,2.524310,0.088440,8754
210211,2014-12-31,3,4,19,8.279666,6.871471,5.491290,1.900737,2.384205,2.761726,0.088440,8755
210212,2014-12-31,3,4,20,8.231058,6.867562,5.498826,2.087542,2.611380,3.003400,0.088409,8756
210213,2014-12-31,3,4,21,8.694296,7.150109,5.716558,2.061454,2.582644,2.930015,0.088379,8757
210214,2014-12-31,3,4,22,8.664804,7.204827,5.753817,2.109460,2.645391,3.023646,0.088348,8758
210215,2014-12-31,3,4,23,9.152534,7.415911,5.895812,2.188906,2.750705,3.151169,0.088348,8759
210216,2014-12-31,3,5,0,8.919344,6.443004,5.064909,-0.471359,-0.601220,-0.981113,0.056686,8736
210217,2014-12-31,3,5,1,8.796239,6.174232,4.819551,-0.922256,-1.185871,-1.828687,0.056671,8737
210218,2014-12-31,3,5,2,8.706485,6.000938,4.661245,-1.408981,-1.814930,-2.830473,0.056656,8738
210219,2014-12-31,3,5,3,8.615825,5.983470,4.640991,-1.594880,-2.052840,-3.008356,0.056641,8739
210220,2014-12-31,3,5,4,8.695350,6.081205,4.725056,-1.386709,-1.782746,-2.599118,0.056625,8740
210221,2014-12-31,3,5,5,8.890209,6.322338,4.927178,-1.470329,-1.882955,-2.697608,0.056610,8741
210222,2014-12-31,3,5,6,9.019492,6.457797,5.042046,-1.809153,-2.313426,-3.365090,0.056595,8742
210223,2014-12-31,3,5,7,8.878634,6.359198,4.966204,-1.930657,-2.467472,-3.632183,0.056580,8743
210224,2014-12-31,3,5,8,8.751673,6.316146,4.938602,-2.069913,-2.642242,-3.814025,0.056564,8744
210225,2014-12-31,3,5,9,8.600952,6.223195,4.866930,-1.855201,-2.369120,-3.358293,0.056549,8745
210226,2014-12-31,3,5,10,8.629725,6.269421,4.906950,-1.516072,-1.939096,-2.741209,0.056534,8746
210227,2014-12-31,3,5,11,8.816452,6.401126,5.006336,-1.380471,-1.767894,-2.509174,0.056519,8747
210228,2014-12-31,3,5,12,9.062229,6.452996,5.028747,-1.308679,-1.682160,-2.437126,0.056488,8748
210229,2014-12-31,3,5,13,9.155778,6.374308,4.943530,-1.113391,-1.438877,-2.144300,0.056473,8749
210230,2014-12-31,3,5,14,9.165866,6.271476,4.844875,-0.834932,-1.084914,-1.671185,0.056458,8750
210231,2014-12-31,3,5,15,9.148293,6.425232,4.991191,-0.370295,-0.484758,-0.784550,0.056442,8751
210232,2014-12-31,3,5,16,9.094969,6.714293,5.283729,0.169642,0.211144,0.197384,0.056427,8752
210233,2014-12-31,3,5,17,8.930069,6.723045,5.324739,0.666010,0.838384,1.026945,0.056412,8753
210234,2014-12-31,3,5,18,8.850954,6.745901,5.361135,1.149868,1.442581,1.781146,0.056396,8754
210235,2014-12-31,3,5,19,8.756228,6.836315,5.456134,1.527690,1.909596,2.346687,0.056381,8755
210236,2014-12-31,3,5,20,8.774027,6.982797,5.602342,1.800433,2.242240,2.710431,0.056366,8756
210237,2014-12-31,3,5,21,9.073202,7.226281,5.804448,1.764579,2.193972,2.590171,0.056351,8757
210238,2014-12-31,3,5,22,9.125742,7.325921,5.880770,1.743249,2.166875,2.550990,0.056335,8758
210239,2014-12-31,3,5,23,9.195503,7.326067,5.874328,1.883242,2.341525,2.745895,0.056320,8759

## 5.1 Converting the timeformat to ISO 8601

In [23]:
def converting_timeformat_to_ISO8601(row):
    """Generates datetime according to ISO 8601 (UTC)"""
    date = dateutil.parser.parse(row['date'])
    hour = int(row['time'])
    # timedelta from the datetime module enables the programmer 
    # to add time to a date. 
    date_time = date + timedelta(hours = hour)
    return str(date_time.isoformat()) + 'Z'  # MERRA2 datasets have UTC time zone.
df_wind['date_utc'] = df_wind.apply(converting_timeformat_to_ISO8601, axis=1)


df_wind['date_utc']

0         2014-01-01T00:00:00Z
1         2014-01-01T01:00:00Z
2         2014-01-01T02:00:00Z
3         2014-01-01T03:00:00Z
4         2014-01-01T04:00:00Z
5         2014-01-01T05:00:00Z
6         2014-01-01T06:00:00Z
7         2014-01-01T07:00:00Z
8         2014-01-01T08:00:00Z
9         2014-01-01T09:00:00Z
10        2014-01-01T10:00:00Z
11        2014-01-01T11:00:00Z
12        2014-01-01T12:00:00Z
13        2014-01-01T13:00:00Z
14        2014-01-01T14:00:00Z
15        2014-01-01T15:00:00Z
16        2014-01-01T16:00:00Z
17        2014-01-01T17:00:00Z
18        2014-01-01T18:00:00Z
19        2014-01-01T19:00:00Z
20        2014-01-01T20:00:00Z
21        2014-01-01T21:00:00Z
22        2014-01-01T22:00:00Z
23        2014-01-01T23:00:00Z
24        2014-01-01T00:00:00Z
25        2014-01-01T01:00:00Z
26        2014-01-01T02:00:00Z
27        2014-01-01T03:00:00Z
28        2014-01-01T04:00:00Z
29        2014-01-01T05:00:00Z
                  ...
210210    2014-12-31T18:00:00Z
210211    2014-12-31T19:00:00Z
210212    2014-12-31T20:00:00Z
210213    2014-12-31T21:00:00Z
210214    2014-12-31T22:00:00Z
210215    2014-12-31T23:00:00Z
210216    2014-12-31T00:00:00Z
210217    2014-12-31T01:00:00Z
210218    2014-12-31T02:00:00Z
210219    2014-12-31T03:00:00Z
210220    2014-12-31T04:00:00Z
210221    2014-12-31T05:00:00Z
210222    2014-12-31T06:00:00Z
210223    2014-12-31T07:00:00Z
210224    2014-12-31T08:00:00Z
210225    2014-12-31T09:00:00Z
210226    2014-12-31T10:00:00Z
210227    2014-12-31T11:00:00Z
210228    2014-12-31T12:00:00Z
210229    2014-12-31T13:00:00Z
210230    2014-12-31T14:00:00Z
210231    2014-12-31T15:00:00Z
210232    2014-12-31T16:00:00Z
210233    2014-12-31T17:00:00Z
210234    2014-12-31T18:00:00Z
210235    2014-12-31T19:00:00Z
210236    2014-12-31T20:00:00Z
210237    2014-12-31T21:00:00Z
210238    2014-12-31T22:00:00Z
210239    2014-12-31T23:00:00Z
Name: date_utc, dtype: object

In [24]:
def calculate_windspeed(d_frame, idx_u, idx_v):
    """
    Calculates the windspeed. The returned unit is m/s
    """
    um = float(d_frame[idx_u])
    vm = float(d_frame[idx_v])
    speed = math.sqrt((um ** 2) + (vm ** 2))
    return round(speed, 2)

# partial is used to create a function with pre-set arguments. 
calc_windspeed_2m = partial(calculate_windspeed, idx_u='U2M', idx_v='V2M')
calc_windspeed_10m = partial(calculate_windspeed, idx_u='U10M', idx_v='V10M')
calc_windspeed_50m = partial(calculate_windspeed, idx_u='U50M', idx_v='V50M')

df_wind['v_2m'] = df_wind.apply(calc_windspeed_2m, axis=1)
df_wind['v_10m']= df_wind.apply(calc_windspeed_10m, axis=1)
df_wind['v_50m'] = df_wind.apply(calc_windspeed_50m, axis=1)
df_wind

,date,lat,lon,time,U50M,U10M,U2M,V2M,V10M,V50M,DISPH,date_time_hours,date_utc,v_2m,v_10m,v_50m
0,2014-01-01,0,0,0,-0.297702,-0.295578,-0.212174,4.500453,6.217660,8.356644,0.227051,0,2014-01-01T00:00:00Z,4.51,6.22,8.36
1,2014-01-01,0,0,1,-0.074992,-0.324034,-0.233301,4.362281,6.044189,8.493224,0.226990,1,2014-01-01T01:00:00Z,4.37,6.05,8.49
2,2014-01-01,0,0,2,-0.147352,-0.210656,-0.149592,4.222820,5.845773,8.089516,0.226990,2,2014-01-01T02:00:00Z,4.23,5.85,8.09
3,2014-01-01,0,0,3,0.724986,0.409784,0.300013,4.340469,5.978075,7.984237,0.226929,3,2014-01-01T03:00:00Z,4.35,5.99,8.02
4,2014-01-01,0,0,4,1.590336,1.075677,0.784653,4.385458,6.018238,7.851111,0.226868,4,2014-01-01T04:00:00Z,4.46,6.11,8.01
5,2014-01-01,0,0,5,1.765592,1.251730,0.913635,4.333628,5.942356,7.688294,0.226807,5,2014-01-01T05:00:00Z,4.43,6.07,7.89
6,2014-01-01,0,0,6,1.740824,1.201046,0.875475,4.242262,5.827761,7.600917,0.226746,6,2014-01-01T06:00:00Z,4.33,5.95,7.80
7,2014-01-01,0,0,7,2.622788,1.846303,1.342994,4.243012,5.844603,7.675271,0.226685,7,2014-01-01T07:00:00Z,4.45,6.13,8.11
8,2014-01-01,0,0,8,3.289029,2.207761,1.595478,4.195892,5.804287,7.821333,0.226685,8,2014-01-01T08:00:00Z,4.49,6.21,8.48
9,2014-01-01,0,0,9,3.393492,2.374129,1.717855,4.396135,6.072703,8.006682,0.226624,9,2014-01-01T09:00:00Z,4.72,6.52,8.70
10,2014-01-01,0,0,10,1.969003,1.491357,1.084781,4.608009,6.321997,7.867232,0.226562,10,2014-01-01T10:00:00Z,4.73,6.50,8.11
11,2014-01-01,0,0,11,1.152898,0.792525,0.577078,4.528586,6.208613,7.670100,0.226501,11,2014-01-01T11:00:00Z,4.57,6.26,7.76
12,2014-01-01,0,0,12,0.751909,0.471944,0.342939,4.386295,6.054287,7.754708,0.226440,12,2014-01-01T12:00:00Z,4.40,6.07,7.79
13,2014-01-01,0,0,13,-0.385560,-0.346642,-0.245431,4.072318,5.694500,7.928659,0.226440,13,2014-01-01T13:00:00Z,4.08,5.71,7.94
14,2014-01-01,0,0,14,-1.601448,-1.079924,-0.758276,3.916518,5.564619,8.582237,0.226379,14,2014-01-01T14:00:00Z,3.99,5.67,8.73
15,2014-01-01,0,0,15,-2.964948,-2.002669,-1.412624,4.284524,6.077531,9.248868,0.226318,15,2014-01-01T15:00:00Z,4.51,6.40,9.71
16,2014-01-01,0,0,16,-3.951974,-2.995735,-2.150176,4.756229,6.627870,8.992760,0.226257,16,2014-01-01T16:00:00Z,5.22,7.27,9.82
17,2014-01-01,0,0,17,-4.451447,-3.567682,-2.578498,5.055721,6.999658,9.072774,0.226196,17,2014-01-01T17:00:00Z,5.68,7.86,10.11
18,2014-01-01,0,0,18,-4.792336,-3.893667,-2.815137,5.231140,7.234971,9.315937,0.226196,18,2014-01-01T18:00:00Z,5.94,8.22,10.48
19,2014-01-01,0,0,19,-5.329083,-4.379653,-3.170137,5.299993,7.320238,9.323335,0.226135,19,2014-01-01T19:00:00Z,6.18,8.53,10.74
20,2014-01-01,0,0,20,-5.793111,-4.818533,-3.490549,5.236180,7.223099,9.114805,0.226074,20,2014-01-01T20:00:00Z,6.29,8.68,10.80
21,2014-01-01,0,0,21,-5.933545,-4.932539,-3.569890,5.298791,7.312883,9.252745,0.226013,21,2014-01-01T21:00:00Z,6.39,8.82,10.99
22,2014-01-01,0,0,22,-5.698965,-4.789988,-3.466293,5.584574,7.707000,9.696321,0.225952,22,2014-01-01T22:00:00Z,6.57,9.07,11.25
23,2014-01-01,0,0,23,-5.536570,-4.719015,-3.416071,5.778727,7.976044,9.986411,0.225891,23,2014-01-01T23:00:00Z,6.71,9.27,11.42
24,2014-01-01,0,1,0,-1.106906,-0.859421,-0.592728,3.943812,5.678597,8.071487,0.263184,0,2014-01-01T00:00:00Z,3.99,5.74,8.15
25,2014-01-01,0,1,1,-0.851451,-0.726088,-0.501429,3.838844,5.524658,7.901428,0.263184,1,2014-01-01T01:00:00Z,3.87,5.57,7.95
26,2014-01-01,0,1,2,-1.051405,-0.827661,-0.569453,3.590984,5.166086,7.325844,0.263062,2,2014-01-01T02:00:00Z,3.64,5.23,7.40
27,2014-01-01,0,1,3,-0.423329,-0.393461,-0.269567,3.622696,5.210497,7.367049,0.263062,3,2014-01-01T03:00:00Z,3.63,5.23,7.38
28,2014-01-01,0,1,4,0.646977,0.350336,0.244126,3.658895,5.258472,7.421423,0.262939,4,2014-01-01T04:00:00Z,3.67,5.27,7.45
29,2014-01-01,0,1,5,1.181119,0.743673,0.519348,3.739878,5.358372,7.416810,0.262939,5,2014-01-01T05:00:00Z,3.78,5.41,7.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210210,2014-12-31,3,4,18,8.253298,6.661917,5.296682,1.700161,2.142776,2.524310,0.088440,8754,2014-12-31T18:00:00Z,5.56,7.00,8.63
210211,2014-12-31,3,4,19,8.279666,6.871471,5.491290,1.900737,2.384205,2.761726,0.088440,8755,2014-12-31T19:00:00Z,5.81,7.27,8.73
210212,2014-12-31,3,4,20,8.231058,6.867562,5.498826,2.087542,2.611380,3.003400,0.088409,8756,2014-12-31T20:00:00Z,5.88,7.35,8.76
210213,2014-12-31,3,4,21,8.694296,7.150109,5.716558,2.061454,2.582644,2.930015,0.088379,8757,2014-12-31T21:00:00Z,6.08,7.60,9.17
210214,2014-12-31,3,4,22,8.664804,7.204827,5.753817,2.109460,2.645391,3.023646,0.088348,8758,2014-12-31T22:00:00Z,6.13,7.68,9.18
210215,2014-12-31,3,4,23,9.152534,7.415911,5.895812,2.188906,2.750705,3.151169,0.088348,8759,2014-12-31T23:00:00Z,6.29,7.91,9.68
210216,2014-12-31,3,5,0,8.919344,6.443004,5.064909,-0.471359,-0.601220,-0.981113,0.056686,8736,2014-12-31T00:00:00Z,5.09,6.47,8.97
210217,2014-12-31,3,5,1,8.796239,6.174232,4.819551,-0.922256,-1.185871,-1.828687,0.056671,8737,2014-12-31T01:00:00Z,4.91,6.29,8.98
210218,2014-12-31,3,5,2,8.706485,6.000938,4.661245,-1.408981,-1.814930,-2.830473,0.056656,8738,2014-12-31T02:00:00Z,4.87,6.27,9.16
210219,2014-12-31,3,5,3,8.615825,5.983470,4.640991,-1.594880,-2.052840,-3.008356,0.056641,8739,2014-12-31T03:00:00Z,4.91,6.33,9.13
210220,2014-12-31,3,5,4,8.695350,6.081205,4.725056,-1.386709,-1.782746,-2.599118,0.056625,8740,2014-12-31T04:00:00Z,4.92,6.34,9.08
210221,2014-12-31,3,5,5,8.890209,6.322338,4.927178,-1.470329,-1.882955,-2.697608,0.056610,8741,2014-12-31T05:00:00Z,5.14,6.60,9.29
210222,2014-12-31,3,5,6,9.019492,6.457797,5.042046,-1.809153,-2.313426,-3.365090,0.056595,8742,2014-12-31T06:00:00Z,5.36,6.86,9.63
210223,2014-12-31,3,5,7,8.878634,6.359198,4.966204,-1.930657,-2.467472,-3.632183,0.056580,8743,2014-12-31T07:00:00Z,5.33,6.82,9.59
210224,2014-12-31,3,5,8,8.751673,6.316146,4.938602,-2.069913,-2.642242,-3.814025,0.056564,8744,2014-12-31T08:00:00Z,5.35,6.85,9.55
210225,2014-12-31,3,5,9,8.600952,6.223195,4.866930,-1.855201,-2.369120,-3.358293,0.056549,8745,2014-12-31T09:00:00Z,5.21,6.66,9.23
210226,2014-12-31,3,5,10,8.629725,6.269421,4.906950,-1.516072,-1.939096,-2.741209,0.056534,8746,2014-12-31T10:00:00Z,5.14,6.56,9.05
210227,2014-12-31,3,5,11,8.816452,6.401126,5.006336,-1.380471,-1.767894,-2.509174,0.056519,8747,2014-12-31T11:00:00Z,5.19,6.64,9.17
210228,2014-12-31,3,5,12,9.062229,6.452996,5.028747,-1.308679,-1.682160,-2.437126,0.056488,8748,2014-12-31T12:00:00Z,5.20,6.67,9.38
210229,2014-12-31,3,5,13,9.155778,6.374308,4.943530,-1.113391,-1.438877,-2.144300,0.056473,8749,2014-12-31T13:00:00Z,5.07,6.53,9.40
210230,2014-12-31,3,5,14,9.165866,6.271476,4.844875,-0.834932,-1.084914,-1.671185,0.056458,8750,2014-12-31T14:00:00Z,4.92,6.36,9.32
210231,2014-12-31,3,5,15,9.148293,6.425232,4.991191,-0.370295,-0.484758,-0.784550,0.056442,8751,2014-12-31T15:00:00Z,5.00,6.44,9.18
210232,2014-12-31,3,5,16,9.094969,6.714293,5.283729,0.169642,0.211144,0.197384,0.056427,8752,2014-12-31T16:00:00Z,5.29,6.72,9.10
210233,2014-12-31,3,5,17,8.930069,6.723045,5.324739,0.666010,0.838384,1.026945,0.056412,8753,2014-12-31T17:00:00Z,5.37,6.78,8.99
210234,2014-12-31,3,5,18,8.850954,6.745901,5.361135,1.149868,1.442581,1.781146,0.056396,8754,2014-12-31T18:00:00Z,5.48,6.90,9.03
210235,2014-12-31,3,5,19,8.756228,6.836315,5.456134,1.527690,1.909596,2.346687,0.056381,8755,2014-12-31T19:00:00Z,5.67,7.10,9.07
210236,2014-12-31,3,5,20,8.774027,6.982797,5.602342,1.800433,2.242240,2.710431,0.056366,8756,2014-12-31T20:00:00Z,5.88,7.33,9.18
210237,2014-12-31,3,5,21,9.073202,7.226281,5.804448,1.764579,2.193972,2.590171,0.056351,8757,2014-12-31T21:00:00Z,6.07,7.55,9.44
210238,2014-12-31,3,5,22,9.125742,7.325921,5.880770,1.743249,2.166875,2.550990,0.056335,8758,2014-12-31T22:00:00Z,6.13,7.64,9.48
210239,2014-12-31,3,5,23,9.195503,7.326067,5.874328,1.883242,2.341525,2.745895,0.056320,8759,2014-12-31T23:00:00Z,6.17,7.69,9.60

# 6. Setting up Roughness and Radiation dataframe

In [32]:
file_path = os.path.join('roughness_download', '*.nc4')
with xr.open_mfdataset(file_path, concat_dim='date', 
                       preprocess=extract_date) as ds_rough:
    df_rough = ds_rough.to_dataframe()

df_rough.reset_index(inplace=True)

file_path = os.path.join('radiation_download', '*.nc4')
try:
    with xr.open_mfdataset(file_path, concat_dim='date',
                           preprocess=extract_date) as ds_rad:
        print(ds_rad)
        df_rad = ds_rad.to_dataframe()
        
except xr.MergeError as e:
    print(e)
df_rad.reset_index(inplace=True)

<xarray.Dataset>
Dimensions:  (date: 365, lat: 4, lon: 6, time: 24)
Coordinates:
  * time     (time) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
  * lat      (lat) int64 0 1 2 3
  * lon      (lon) int64 0 1 2 3 4 5
  * date     (date) <U10 '2014-01-01' '2014-01-02' '2014-01-03' '2014-01-04' ...
Data variables:
    SWTDN    (date, time, lat, lon) float64 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 ...
    SWGDN    (date, time, lat, lon) float64 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 ...

## 6.1 Combining the wind, roughness and radiation dataframe

In [42]:
df = pd.merge(df_wind, df_rough, on=['date', 'lat', 'lon', 'time'])
df = pd.merge(df, df_rad, on=['date', 'lat', 'lon', 'time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210240 entries, 0 to 210239
Data columns (total 19 columns):
date               210240 non-null object
lat                210240 non-null int64
lon                210240 non-null int64
time               210240 non-null int64
U50M               210240 non-null float64
U10M               210240 non-null float64
U2M                210240 non-null float64
V2M                210240 non-null float64
V10M               210240 non-null float64
V50M               210240 non-null float64
DISPH              210240 non-null float64
date_time_hours    210240 non-null int64
date_utc           210240 non-null object
v_2m               210240 non-null float64
v_10m              210240 non-null float64
v_50m              210240 non-null float64
Z0M                210240 non-null float64
SWTDN              210240 non-null float64
SWGDN              210240 non-null float64
dtypes: float64(13), int64(4), object(2)
memory usage: 32.1+ MB

---

# 7. Structure the dataframe, add and remove columns

## 7.1 Calculating the height with displacement height

In [43]:
# Calculate height for v_2m and v_10m (2 + DISPH or 10 + DISPH).
df['h_v1'] = df.apply((lambda x:int(x['DISPH']) + 2), axis=1)
df['h_v2'] = df.apply((lambda x:int(x['DISPH']) + 10), axis=1)

## 7.2 Adding needed and removing not needed columns

In [44]:
df.drop('DISPH', axis=1, inplace=True)
df.drop(['time', 'date'], axis=1, inplace=True)
df.drop(['U2M', 'U10M', 'U50M', 'V2M', 'V10M', 'V50M'], axis=1, inplace=True)

df['lat'] = df['lat'].apply(lambda x: lat_array[int(x)])
df['lon'] = df['lon'].apply(lambda x: lon_array[int(x)])
df

,lat,lon,date_time_hours,date_utc,v_2m,v_10m,v_50m,Z0M,SWTDN,SWGDN,h_v1,h_v2
0,53.5,8.125,0,2014-01-01T00:00:00Z,4.51,6.22,8.36,0.044805,0.000000,0.000000,2,10
1,53.5,8.125,1,2014-01-01T01:00:00Z,4.37,6.05,8.49,0.044790,0.000000,0.000000,2,10
2,53.5,8.125,2,2014-01-01T02:00:00Z,4.23,5.85,8.09,0.044774,0.000000,0.000000,2,10
3,53.5,8.125,3,2014-01-01T03:00:00Z,4.35,5.99,8.02,0.044759,0.000000,0.000000,2,10
4,53.5,8.125,4,2014-01-01T04:00:00Z,4.46,6.11,8.01,0.044759,0.000000,0.000000,2,10
5,53.5,8.125,5,2014-01-01T05:00:00Z,4.43,6.07,7.89,0.044744,0.000000,0.000000,2,10
6,53.5,8.125,6,2014-01-01T06:00:00Z,4.33,5.95,7.80,0.044729,0.000000,0.000000,2,10
7,53.5,8.125,7,2014-01-01T07:00:00Z,4.45,6.13,8.11,0.044729,3.343751,0.194458,2,10
8,53.5,8.125,8,2014-01-01T08:00:00Z,4.49,6.21,8.48,0.044713,106.187500,23.242188,2,10
9,53.5,8.125,9,2014-01-01T09:00:00Z,4.72,6.52,8.70,0.044713,226.687500,86.343750,2,10
10,53.5,8.125,10,2014-01-01T10:00:00Z,4.73,6.50,8.11,0.044683,301.500000,183.625000,2,10
11,53.5,8.125,11,2014-01-01T11:00:00Z,4.57,6.26,7.76,0.044667,325.625000,206.562500,2,10
12,53.5,8.125,12,2014-01-01T12:00:00Z,4.40,6.07,7.79,0.044652,297.375000,185.812500,2,10
13,53.5,8.125,13,2014-01-01T13:00:00Z,4.08,5.71,7.94,0.044652,218.625000,126.875000,2,10
14,53.5,8.125,14,2014-01-01T14:00:00Z,3.99,5.67,8.73,0.044652,94.781250,44.421875,2,10
15,53.5,8.125,15,2014-01-01T15:00:00Z,4.51,6.40,9.71,0.044667,1.226076,0.290894,2,10
16,53.5,8.125,16,2014-01-01T16:00:00Z,5.22,7.27,9.82,0.044667,0.000000,0.000000,2,10
17,53.5,8.125,17,2014-01-01T17:00:00Z,5.68,7.86,10.11,0.044667,0.000000,0.000000,2,10
18,53.5,8.125,18,2014-01-01T18:00:00Z,5.94,8.22,10.48,0.044667,0.000000,0.000000,2,10
19,53.5,8.125,19,2014-01-01T19:00:00Z,6.18,8.53,10.74,0.044667,0.000000,0.000000,2,10
20,53.5,8.125,20,2014-01-01T20:00:00Z,6.29,8.68,10.80,0.044667,0.000000,0.000000,2,10
21,53.5,8.125,21,2014-01-01T21:00:00Z,6.39,8.82,10.99,0.044652,0.000000,0.000000,2,10
22,53.5,8.125,22,2014-01-01T22:00:00Z,6.57,9.07,11.25,0.044652,0.000000,0.000000,2,10
23,53.5,8.125,23,2014-01-01T23:00:00Z,6.71,9.27,11.42,0.044652,0.000000,0.000000,2,10
24,53.5,8.750,0,2014-01-01T00:00:00Z,3.99,5.74,8.15,0.051870,0.000000,0.000000,2,10
25,53.5,8.750,1,2014-01-01T01:00:00Z,3.87,5.57,7.95,0.051870,0.000000,0.000000,2,10
26,53.5,8.750,2,2014-01-01T02:00:00Z,3.64,5.23,7.40,0.051854,0.000000,0.000000,2,10
27,53.5,8.750,3,2014-01-01T03:00:00Z,3.63,5.23,7.38,0.051839,0.000000,0.000000,2,10
28,53.5,8.750,4,2014-01-01T04:00:00Z,3.67,5.27,7.45,0.051824,0.000000,0.000000,2,10
29,53.5,8.750,5,2014-01-01T05:00:00Z,3.78,5.41,7.51,0.051809,0.000000,0.000000,2,10
...,...,...,...,...,...,...,...,...,...,...,...,...
210210,55.0,10.625,8754,2014-12-31T18:00:00Z,5.56,7.00,8.63,0.017606,0.000000,0.000000,2,10
210211,55.0,10.625,8755,2014-12-31T19:00:00Z,5.81,7.27,8.73,0.017621,0.000000,0.000000,2,10
210212,55.0,10.625,8756,2014-12-31T20:00:00Z,5.88,7.35,8.76,0.017621,0.000000,0.000000,2,10
210213,55.0,10.625,8757,2014-12-31T21:00:00Z,6.08,7.60,9.17,0.017629,0.000000,0.000000,2,10
210214,55.0,10.625,8758,2014-12-31T22:00:00Z,6.13,7.68,9.18,0.017629,0.000000,0.000000,2,10
210215,55.0,10.625,8759,2014-12-31T23:00:00Z,6.29,7.91,9.68,0.017629,0.000000,0.000000,2,10
210216,55.0,11.250,8736,2014-12-31T00:00:00Z,5.09,6.47,8.97,0.011312,0.000000,0.000000,2,10
210217,55.0,11.250,8737,2014-12-31T01:00:00Z,4.91,6.29,8.98,0.011297,0.000000,0.000000,2,10
210218,55.0,11.250,8738,2014-12-31T02:00:00Z,4.87,6.27,9.16,0.011289,0.000000,0.000000,2,10
210219,55.0,11.250,8739,2014-12-31T03:00:00Z,4.91,6.33,9.13,0.011289,0.000000,0.000000,2,10
210220,55.0,11.250,8740,2014-12-31T04:00:00Z,4.92,6.34,9.08,0.011285,0.000000,0.000000,2,10
210221,55.0,11.250,8741,2014-12-31T05:00:00Z,5.14,6.60,9.29,0.011289,0.000000,0.000000,2,10
210222,55.0,11.250,8742,2014-12-31T06:00:00Z,5.36,6.86,9.63,0.011297,0.000000,0.000000,2,10
210223,55.0,11.250,8743,2014-12-31T07:00:00Z,5.33,6.82,9.59,0.011293,4.539063,0.189331,2,10
210224,55.0,11.250,8744,2014-12-31T08:00:00Z,5.35,6.85,9.55,0.011289,103.500000,8.871094,2,10
210225,55.0,11.250,8745,2014-12-31T09:00:00Z,5.21,6.66,9.23,0.011270,211.000000,23.390625,2,10
210226,55.0,11.250,8746,2014-12-31T10:00:00Z,5.14,6.56,9.05,0.011258,273.250000,43.140625,2,10
210227,55.0,11.250,8747,2014-12-31T11:00:00Z,5.19,6.64,9.17,0.011255,285.875000,46.859375,2,10
210228,55.0,11.250,8748,2014-12-31T12:00:00Z,5.20,6.67,9.38,0.011251,248.250000,34.515625,2,10
210229,55.0,11.250,8749,2014-12-31T13:00:00Z,5.07,6.53,9.40,0.011243,162.812500,22.445312,2,10
210230,55.0,11.250,8750,2014-12-31T14:00:00Z,4.92,6.36,9.32,0.011243,40.578129,7.076172,2,10
210231,55.0,11.250,8751,2014-12-31T15:00:00Z,5.00,6.44,9.18,0.011255,0.000000,0.000000,2,10
210232,55.0,11.250,8752,2014-12-31T16:00:00Z,5.29,6.72,9.10,0.011266,0.000000,0.000000,2,10
210233,55.0,11.250,8753,2014-12-31T17:00:00Z,5.37,6.78,8.99,0.011266,0.000000,0.000000,2,10
210234,55.0,11.250,8754,2014-12-31T18:00:00Z,5.48,6.90,9.03,0.011270,0.000000,0.000000,2,10
210235,55.0,11.250,8755,2014-12-31T19:00:00Z,5.67,7.10,9.07,0.011274,0.000000,0.000000,2,10
210236,55.0,11.250,8756,2014-12-31T20:00:00Z,5.88,7.33,9.18,0.011281,0.000000,0.000000,2,10
210237,55.0,11.250,8757,2014-12-31T21:00:00Z,6.07,7.55,9.44,0.011289,0.000000,0.000000,2,10
210238,55.0,11.250,8758,2014-12-31T22:00:00Z,6.13,7.64,9.48,0.011289,0.000000,0.000000,2,10
210239,55.0,11.250,8759,2014-12-31T23:00:00Z,6.17,7.69,9.60,0.011289,0.000000,0.000000,2,10

## 7.3 Renaming columns

In [45]:
rename_map = {'date_time_hours': 'cumulated hours', 
              'date_utc': 'timestamp',
              'v_2m': 'v1', 
              'v_10m': 'v2', 
              'Z0M': 'z0'
             }

df.rename(columns=rename_map, inplace=True)

# Change order of the columns
columns = ['timestamp', 'cumulated hours', 'lat', 'lon',
        'v1', 'v2', 'v_50m',
        'h_v1', 'h_v2', 'z0']
df = df[columns]

---

## 7.4 First look at the final data frame structure and format

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210240 entries, 0 to 210239
Data columns (total 10 columns):
timestamp          210240 non-null object
cumulated hours    210240 non-null int64
lat                210240 non-null float64
lon                210240 non-null float64
v1                 210240 non-null float64
v2                 210240 non-null float64
v_50m              210240 non-null float64
h_v1               210240 non-null int64
h_v2               210240 non-null int64
z0                 210240 non-null float64
dtypes: float64(6), int64(3), object(1)
memory usage: 17.6+ MB

---
Take a look at the resulting dataframe

In [47]:
df

,timestamp,cumulated hours,lat,lon,v1,v2,v_50m,h_v1,h_v2,z0
0,2014-01-01T00:00:00Z,0,53.5,8.125,4.51,6.22,8.36,2,10,0.044805
1,2014-01-01T01:00:00Z,1,53.5,8.125,4.37,6.05,8.49,2,10,0.044790
2,2014-01-01T02:00:00Z,2,53.5,8.125,4.23,5.85,8.09,2,10,0.044774
3,2014-01-01T03:00:00Z,3,53.5,8.125,4.35,5.99,8.02,2,10,0.044759
4,2014-01-01T04:00:00Z,4,53.5,8.125,4.46,6.11,8.01,2,10,0.044759
5,2014-01-01T05:00:00Z,5,53.5,8.125,4.43,6.07,7.89,2,10,0.044744
6,2014-01-01T06:00:00Z,6,53.5,8.125,4.33,5.95,7.80,2,10,0.044729
7,2014-01-01T07:00:00Z,7,53.5,8.125,4.45,6.13,8.11,2,10,0.044729
8,2014-01-01T08:00:00Z,8,53.5,8.125,4.49,6.21,8.48,2,10,0.044713
9,2014-01-01T09:00:00Z,9,53.5,8.125,4.72,6.52,8.70,2,10,0.044713
10,2014-01-01T10:00:00Z,10,53.5,8.125,4.73,6.50,8.11,2,10,0.044683
11,2014-01-01T11:00:00Z,11,53.5,8.125,4.57,6.26,7.76,2,10,0.044667
12,2014-01-01T12:00:00Z,12,53.5,8.125,4.40,6.07,7.79,2,10,0.044652
13,2014-01-01T13:00:00Z,13,53.5,8.125,4.08,5.71,7.94,2,10,0.044652
14,2014-01-01T14:00:00Z,14,53.5,8.125,3.99,5.67,8.73,2,10,0.044652
15,2014-01-01T15:00:00Z,15,53.5,8.125,4.51,6.40,9.71,2,10,0.044667
16,2014-01-01T16:00:00Z,16,53.5,8.125,5.22,7.27,9.82,2,10,0.044667
17,2014-01-01T17:00:00Z,17,53.5,8.125,5.68,7.86,10.11,2,10,0.044667
18,2014-01-01T18:00:00Z,18,53.5,8.125,5.94,8.22,10.48,2,10,0.044667
19,2014-01-01T19:00:00Z,19,53.5,8.125,6.18,8.53,10.74,2,10,0.044667
20,2014-01-01T20:00:00Z,20,53.5,8.125,6.29,8.68,10.80,2,10,0.044667
21,2014-01-01T21:00:00Z,21,53.5,8.125,6.39,8.82,10.99,2,10,0.044652
22,2014-01-01T22:00:00Z,22,53.5,8.125,6.57,9.07,11.25,2,10,0.044652
23,2014-01-01T23:00:00Z,23,53.5,8.125,6.71,9.27,11.42,2,10,0.044652
24,2014-01-01T00:00:00Z,0,53.5,8.750,3.99,5.74,8.15,2,10,0.051870
25,2014-01-01T01:00:00Z,1,53.5,8.750,3.87,5.57,7.95,2,10,0.051870
26,2014-01-01T02:00:00Z,2,53.5,8.750,3.64,5.23,7.40,2,10,0.051854
27,2014-01-01T03:00:00Z,3,53.5,8.750,3.63,5.23,7.38,2,10,0.051839
28,2014-01-01T04:00:00Z,4,53.5,8.750,3.67,5.27,7.45,2,10,0.051824
29,2014-01-01T05:00:00Z,5,53.5,8.750,3.78,5.41,7.51,2,10,0.051809
...,...,...,...,...,...,...,...,...,...,...
210210,2014-12-31T18:00:00Z,8754,55.0,10.625,5.56,7.00,8.63,2,10,0.017606
210211,2014-12-31T19:00:00Z,8755,55.0,10.625,5.81,7.27,8.73,2,10,0.017621
210212,2014-12-31T20:00:00Z,8756,55.0,10.625,5.88,7.35,8.76,2,10,0.017621
210213,2014-12-31T21:00:00Z,8757,55.0,10.625,6.08,7.60,9.17,2,10,0.017629
210214,2014-12-31T22:00:00Z,8758,55.0,10.625,6.13,7.68,9.18,2,10,0.017629
210215,2014-12-31T23:00:00Z,8759,55.0,10.625,6.29,7.91,9.68,2,10,0.017629
210216,2014-12-31T00:00:00Z,8736,55.0,11.250,5.09,6.47,8.97,2,10,0.011312
210217,2014-12-31T01:00:00Z,8737,55.0,11.250,4.91,6.29,8.98,2,10,0.011297
210218,2014-12-31T02:00:00Z,8738,55.0,11.250,4.87,6.27,9.16,2,10,0.011289
210219,2014-12-31T03:00:00Z,8739,55.0,11.250,4.91,6.33,9.13,2,10,0.011289
210220,2014-12-31T04:00:00Z,8740,55.0,11.250,4.92,6.34,9.08,2,10,0.011285
210221,2014-12-31T05:00:00Z,8741,55.0,11.250,5.14,6.60,9.29,2,10,0.011289
210222,2014-12-31T06:00:00Z,8742,55.0,11.250,5.36,6.86,9.63,2,10,0.011297
210223,2014-12-31T07:00:00Z,8743,55.0,11.250,5.33,6.82,9.59,2,10,0.011293
210224,2014-12-31T08:00:00Z,8744,55.0,11.250,5.35,6.85,9.55,2,10,0.011289
210225,2014-12-31T09:00:00Z,8745,55.0,11.250,5.21,6.66,9.23,2,10,0.011270
210226,2014-12-31T10:00:00Z,8746,55.0,11.250,5.14,6.56,9.05,2,10,0.011258
210227,2014-12-31T11:00:00Z,8747,55.0,11.250,5.19,6.64,9.17,2,10,0.011255
210228,2014-12-31T12:00:00Z,8748,55.0,11.250,5.20,6.67,9.38,2,10,0.011251
210229,2014-12-31T13:00:00Z,8749,55.0,11.250,5.07,6.53,9.40,2,10,0.011243
210230,2014-12-31T14:00:00Z,8750,55.0,11.250,4.92,6.36,9.32,2,10,0.011243
210231,2014-12-31T15:00:00Z,8751,55.0,11.250,5.00,6.44,9.18,2,10,0.011255
210232,2014-12-31T16:00:00Z,8752,55.0,11.250,5.29,6.72,9.10,2,10,0.011266
210233,2014-12-31T17:00:00Z,8753,55.0,11.250,5.37,6.78,8.99,2,10,0.011266
210234,2014-12-31T18:00:00Z,8754,55.0,11.250,5.48,6.90,9.03,2,10,0.011270
210235,2014-12-31T19:00:00Z,8755,55.0,11.250,5.67,7.10,9.07,2,10,0.011274
210236,2014-12-31T20:00:00Z,8756,55.0,11.250,5.88,7.33,9.18,2,10,0.011281
210237,2014-12-31T21:00:00Z,8757,55.0,11.250,6.07,7.55,9.44,2,10,0.011289
210238,2014-12-31T22:00:00Z,8758,55.0,11.250,6.13,7.64,9.48,2,10,0.011289
210239,2014-12-31T23:00:00Z,8759,55.0,11.250,6.17,7.69,9.60,2,10,0.011289

## 7.5 Saving dataframe

Save the final dataframe locally

In [48]:
df.to_csv('weather_data_result.csv', index=False)

# 8. Direkt and Diffuse Radiation

## Helper Functions and Variables

In [ ]:
# Local Standard Time (Timezone in the dataframe is Z)
local_standard_time

## 8.1 Solar Altitude Angle alpha

s𝐢𝐧(∝)=𝐬𝐢𝐧(𝑳)×𝐬𝐢𝐧(𝜹)+(𝐜𝐨𝐬 𝑳)×(𝐜𝐨𝐬 𝜹)×(𝐜𝐨𝐬 𝒉)

### 8.1.1 Setting up functions

In [52]:

def sin_alpha(latitude, declination, hour_angle):
    pass

def declination_func(day_number):
    return 23.45 * np.sin((360/365) * 284-day_number)

def hour_angle_func(apparent_solar_time):
    return (apparent_solar_time - 12) * 15

def apparent_solar_time_func(local_standard_time, equation_of_time, standard_longitude, local_longitude):
    return local_standard_time + equation_of_time + 4 * (standard_longitude - local_standard_time) 

def equation_of_time_func(day_number):
    return 9.87 * np.sin(2*(day_number - 81) * ((4 * np.pi)/ 364))

### 8.1.2 Calculation

## 8.2 Clearness Index k

𝒌=𝑺𝑾𝑮𝑫𝑵 / (𝑺𝑾𝑻𝑫𝑵×𝐬𝐢𝐧(𝜶))

### 8.2.1 Setting up Function

In [55]:
def clearnness_index_k(swgdn, swtdn, sin_alpha):
    return swgdn / (swtdn * sin_alpha)

### 8.2.2 Calculating

## 8.3 Indirect Radiation

### 8.3.1 Setting up Function

In [54]:
def indirect_rad(index_k, sin_alpha):
    i_diff = 0
    if(0< k <=0.3):
        i_diff = 1.02 - 0.254 * index_k * sin_alpha
    elif(0.3 < k <= 0.78):
        i_diff = 1.4 - 1.794 * k + 0.177 * sin_alpha
    elif(0.78 < k):
        i_diff = 0.486 * k - 0.182 * sin_alpha
    return i_diff

### 8.3.2 Calculating

# 9. Create metadata

In [49]:
metadata = """
name: opsd-weather-data
title: Weather data
description: Script for the download of MERRA-2 weather data
long_description: >-
    Weather data differ significantly from the other data types used resp. 
    provided by OPSD in that the sheer size of the data packages greatly 
    exceeds OPSD's capacity to host them in a similar way as feed-in 
    timeseries, power plant data etc. While the other data packages also
    offer a complete one-klick download of the bundled data packages with 
    all relevant data this is impossible for weather datasets like MERRA-2 due 
    to their size (variety of variables, very long timespan, huge geographical
    coverage etc.). It would make no sense to mirror the data from the NASA 
    servers.
    Instead we choose to provide a documented methodological script 
    (as a kind of tutorial). The method describes one way to automatically 
    obtain the desired weather data from the MERRA-2 database and simplifies 
    resp. unifies alternative manual data obtaining methods in a single 
    script.
version: "2016-10-21"
keywords: [Open Power System Data, MERRA-2, wind, solar, ]
geographical-scope: Worldwide

licenses:
    - type: MIT license
      url: http://www.opensource.org/licenses/MIT
sources:
    - name: MERRA-2 
      web: https://gmao.gsfc.nasa.gov/reanalysis/MERRA-2/
      source: National Aeronautics and Space Administration - Goddard Space Flight Center
contributors:
    - name: Jan Urbansky
      email: jan.urbansky@uni-flensburg.de
    - name: Martin Jahn
      email: martin.jahn@uni-flensburg.de
      web: 
views: True
documentation: https://github.com/Open-Power-System-Data/weather_data/blob/2016-10-21/main.ipynb
last_changes: Published on the main repository
"""

metadata = yaml.load(metadata)

datapackage_json = json.dumps(metadata, indent=4, separators=(',', ': '))

with open('datapackage.json', 'w') as f:
    f.write(datapackage_json)